h1 {
    color: red;
    text-shadow: 2px 2px white;
}
body { 
    color: white;
    padding: 0;
    margin: 0;
    background: url('../images/bg.jpg') no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    background-position: center;
    background-attachment: fixed;
    background-color: black;
  }

  button {
    padding: 12px;
    color: white;
    border-radius: 6px;
    background-color: blueviolet;
    border: 4px solid white;
  }

  p {
    padding: 6px;
    border-radius: 6px;
    font-size: 20px;
    color: purple;
  }

  .fa {
    cursor: pointer;
    user-select: none;
    color: white;
  }
  
  .fa:hover {
    color: green;
  }
  
.groom {
    background-color: white;
    border-radius: 6px;
}

#credits > h1 {
    text-align: center;
}

.credit-part {
    padding: 6px;
}

.credit-part > h2 {
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(left, green, purple);
    background-image: -moz-linear-gradient(left, green, purple);
    background-image: linear-gradient(to left, green, purple);
}
  
img {
    border: 6px solid white;
    border-radius: 6px;
    max-width: 400px;
    height: auto;  
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
  
.center {
    margin: auto;
    max-width: 600px;
    padding: 10px;
}


.shake-a {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  